.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;

  h1 {
    font-size: 34px;
    color: white;
    margin-bottom: 0;
  }
  p.sub {
    font-size: 16px;
    color: white;
    margin-top: 0;
  }

  .area {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(14,30,37,.12);
    color: black !important;
    border-radius: 10px;
    margin-top: 40px;

    p {
      font-size: 13px;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      width: 300px;
      margin-bottom: 20px;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      i {
        font-size: 20px;
        margin-right: 5px;
      }
      span {
        font-size: 16px;
        margin-top: 3px;
      }
    }
    .google {
      background-color: #DB4437;

      &:hover {
        background-color: rgb(187, 58, 46);
      }
    }
    .facebook {
      background-color: #4267B2;
      &:hover {
        background-color: rgb(58, 90, 155);
      }
    }
    .email {
      background-color: rgba(14,30,37,.8);
      &:hover {
        background-color: rgba(14,30,37,.85);
      }
    }
  }
}
