<div class="container">
  <div class="cover">
    <video class="vid" autoplay [muted]="true" loop id="video">
      <source [src]="'https://testapp.b-cdn.net/video1.mp4'" type="video/mp4">
    </video>
    <div class="overlay padding-main">
      <h1 class="heading">Your ultimate destination for online assessment</h1>
      <p class="para">Prepare candidates to perform extraordinarily with an easy to use highly interactive platform and simplify the assessment cycle.</p>
      <h2>Register for free</h2>
      <div class="inp">
        <input type="text" spellcheck="false" placeholder="Enter your email">
        <i class="far fa-check-circle"></i>
      </div>
    </div>
  </div>

  <div style="height: 600px;"></div>
</div>
