<div class="container">
  <nav class="navbar padding-main">
    <a class="brand" href="/">GetRefant</a>

    <div class="spacer"></div>

    <div class="navs">
      <div class="nav">
        <h4>ABOUT US</h4>
        <div class="line green-bg"></div>
      </div>
      <div class="nav">
        <h4>TESTS</h4>
        <div class="line green-bg"></div>
      </div>
      <div class="nav">
        <h4>PRICING</h4>
        <div class="line green-bg"></div>
      </div>
      <div class="nav">
        <h4>CONTACT US</h4>
        <div class="line green-bg"></div>
      </div>
    </div>

    <div class="nav btn-main">LOGIN</div>

    <div class="navs-sm">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </nav>

  <div class="loading" *ngIf="loading"></div>

  <div class="outlet">
    <router-outlet></router-outlet>
  </div>

</div>
